#article-container.container
  .flink
    - let { content, random, flink_url } = page

    if content
      .flink-intro!= content

    .flink-groups
      if flink_url || random
        - const linkData = flink_url ? false : site.data.link || false
        script.
          (() => {
            const replaceSymbol = str => str.replace(/[\p{P}\p{S}]/gu, '-')
            const root = document.querySelector('.flink-groups')

            const add = data => {
              let result = ''

              for (let i = 0; i < data.length; i++) {
                const replaceClassName = replaceSymbol(data[i].class_name)
                const className = data[i].class_name ? `<h2 id="${replaceClassName}"><a href="#${replaceClassName}" class="headerlink" title="${data[i].class_name}"></a>${data[i].class_name}</h2>` : ''
                const classDesc = data[i].class_desc ? `<div class="flink-desc">${data[i].class_desc}</div>` : ''

                let listResult = ''
                const lists = data[i].link_list
                if (!{random === true}) {
                  lists.sort(() => Math.random() - 0.5)
                }

                for (let j = 0; j < lists.length; j++) {
                  listResult += `
                    <div class="flink-list-item friend-card">
                      <a href="${lists[j].link}" title="${lists[j].name}" target="_blank" rel="noopener noreferrer">
                        <div class="flink-item-icon">
                          <img class="no-lightbox" src="${lists[j].avatar}" onerror='this.onerror=null;this.src="!{url_for(theme.error_img.flink)}"' alt="${lists[j].name}" />
                        </div>
                        <div class="flink-item-name">${lists[j].name}</div>
                        <div class="flink-item-desc" title="${lists[j].descr}">${lists[j].descr}</div>
                      </a>
                    </div>`
                }

                result += `${className}${classDesc}<div class="flink-list">${listResult}</div>`
              }

              root.insertAdjacentHTML('beforeend', result)
              window.lazyLoadInstance && window.lazyLoadInstance.update()
            }

            const dynamicLinkData = !{JSON.stringify(linkData)}
            if (!{Boolean(flink_url)}) {
              fetch('!{url_for(flink_url)}')
                .then(response => response.json())
                .then(add)
            } else if (dynamicLinkData) {
              add(dynamicLinkData)
            }
          })()
      else if site.data.link
        each i in site.data.link
          if i.class_name
            != markdown(`## ${i.class_name}`)
          if i.class_desc
            .flink-desc= i.class_desc
          .flink-list
            each j in i.link_list
              .flink-list-item.friend-card
                a(href=j.link title=j.name target='_blank' rel='noopener noreferrer')
                  .flink-item-icon
                    img.no-lightbox(src=j.avatar onerror=`this.onerror=null;this.src='${url_for(theme.error_img.flink)}'` alt=j.name)
                  .flink-item-name= j.name
                  .flink-item-desc(title=j.descr)= j.descr
